* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

* {
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.main {
    width: 100%;
    background-size: cover;
    height: 109vh;
}

.header h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 50px;
    color: white;
    letter-spacing: 1px;
    margin-left: 340px;
}

.header span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d79447;
    font-size: 50px
}

.form {
    width: 700px;
    height: 500px;
    background: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border: 0px solid #fff;
    position: absolute;
    top: 100px;
    left: 300px;
    transform: translate(0%, -5%);
    padding: 50px;
}


.form input {
    width: 500px;
    height: 40px;
    background: transparent;
    padding: 2px 5px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    border: 1px solid #d79447;
    margin-top: 30px;
    margin-left: 80px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    margin-left: 200px;
    background: #d79447;
    border: none;
    font-weight: bold;
    margin-top: 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #ff7200;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 30px;
    text-align: center;
    margin-left: 48px;
    color: #fff;
}

.form .link a {
    text-decoration: none;
    color: #d79447;
}

